<ion-header>
	<ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
		<ion-title>
			<span *ngIf="item">{{item.name}}</span>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-grid>
		<div *ngIf="item">
			<ion-row>
				<ion-col col-12 col-xl-7 class="h-100">
					<ion-slides pager>
						<ion-slide *ngFor="let image of images">
							<img src="{{image}}" />
						</ion-slide>
					</ion-slides>
					<button ion-fab mini (click)="prevImage()" class="position-absolute d-none d-xl-block bg-white text-dark" style="top: 40%; left: 0; z-index: 999"><ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon></button>
					<button ion-fab mini float-right (click)="nextImage()" class="position-absolute d-none d-xl-block bg-white text-dark"  style="top: 40%; right: 0; z-index: 999"><ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon></button>
				</ion-col>
				<ion-col col-12 col-xl-5 *ngIf="item" class="h-100 px-3 px-xl-5">
					<h2>{{item.name}}</h2>
					<p class="text-secondary">SKU: {{item.modelNumber}}</p>
					<p *ngIf="item.customerRatingImage"><img src="{{item.customerRatingImage}}" style="width:75px;" class="d-inline-block" /> {{item.customerRating}}</p>
					<h1 ion-text color="danger">${{item.salePrice}}</h1>
					<p [innerHTML]="item.shortDescription"></p>
					<ion-row>
						<ion-col col-12 col-xl-6>
							<button ion-button full>Add to Cart</button>
						</ion-col>
						<ion-col col-12 col-xl-6>
							<button ion-button full color="secondary">Buy Now</button>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		
			<ion-card>
				<ion-card-header>
					<strong>Product Info</strong>
				</ion-card-header>
				<ion-card-content>
					<div [innerHTML]="item.longDescription"></div>
				</ion-card-content>
			</ion-card>
			<ion-card>
				<ion-card-header>
					<strong>Other Info</strong>
				</ion-card-header>
				<ion-card-content>
					<ion-row>
						<ion-col class="font-weight-bold"># of Reviews</ion-col>
						<ion-col>{{item.numReviews}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Color</ion-col>
						<ion-col>{{item.color}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Free Shipping?</ion-col>
						<ion-col>{{item.freeShipToStore}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Free Shipping over $35?</ion-col>
						<ion-col>{{item.freeShippingOver35Dollars}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">2 Day Shipping</ion-col>
						<ion-col>{{item.isTwoDayShippingEligible}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Gender</ion-col>
						<ion-col>{{item.gender}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">ID</ion-col>
						<ion-col>{{item.itemId}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Offer Type</ion-col>
						<ion-col>{{item.offerType}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Bundle</ion-col>
						<ion-col>{{item.bundle}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Category Path</ion-col>
						<ion-col>{{item.categoryPath}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Clearance</ion-col>
						<ion-col>{{item.clearance}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Pre Order</ion-col>
						<ion-col>{{item.preOrder}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Size</ion-col>
						<ion-col>{{item.size}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Standard Ship Rate</ion-col>
						<ion-col>{{item.standardShipRate}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">On Stock</ion-col>
						<ion-col>{{item.stock}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">UPC</ion-col>
						<ion-col>{{item.upc}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="font-weight-bold">Brand</ion-col>
						<ion-col>{{item.brandName}}</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
			
			<ion-card>
				<ion-card-header>
					<strong>Return and Refund Policy</strong>
				</ion-card-header>
				<ion-card-content>
					<p>I’m a Return and Refund policy. I’m a great place to let your customers know what to do in case they are dissatisfied with their purchase. Having a straightforward refund or exchange policy is a great way to build trust and reassure your customers that they can buy with confidence.</p>
				</ion-card-content>
			</ion-card>
			
			<h4 class="mt-5 px-3" *ngIf="variants.length">You might also like</h4>
			<ion-row>
				<ion-col col-6 col-sm-4 col-xl-2 *ngFor="let variant of variants" class="p-1 p-xl-3">
					<ion-card class="m-0 w-100">
						<a (click)="itemTapped($event, variant)">
							<img src="{{variant.mediumImage}}" width="100%">
						</a>
						<ion-item>
							<h2 text-capitalize>{{variant.name}}</h2>
							<p><img src="{{variant.customerRatingImage}}" style="width:70px;" class="d-inline-block" /> {{variant.customerRating}}</p>
						</ion-item>
						<ion-item>
							<span ion-text color="danger" item-start>${{variant.salePrice}}</span>
							<button ion-button icon-start clear item-end (click)="itemTapped($event, variant)">
								<ion-icon ios="ios-eye" md="md-eye"></ion-icon>
								View
							</button>
						</ion-item>
					</ion-card>
				</ion-col>
			</ion-row>
		</div>
	</ion-grid>
</ion-content>