// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@import "utilities";

body { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

.split-pane-visible >.split-pane-side{ flex-grow: 15; }
.split-pane-visible >.split-pane-main{ flex-grow: 85; }

.sidenav .scroll-content { overflow-y: auto; }
.sidenav .sidenav-header { background: map-get($colors, primary) /*url('https://cdn-images-1.medium.com/max/2000/1*l3wujEgEKOecwVzf_dqVrQ.jpeg') no-repeat; background-size: cover */; min-height: 170px; font-weight: bold; }

.list-sm .item { min-height: 4rem; }
.list-sm .item .label { margin: 0; font-size: 1.5rem; }
.list-sm .item .icon { font-size: 2rem; margin: 0; }

